*
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  ;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body
{
    font-family: cursive;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}
a
{
    text-decoration: none;
    color: black;
    font-weight: normal;
}
li
{
    list-style: none;
}
.nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    color: red;
}
.nav .img img
{
    width: 100px;
    height: 70px;
    margin: 10px 40px;
    cursor: pointer;
}
.menu
{
    display: flex;
    gap: 5em;
    font-size: 18px;

}
.menu ul
{
    display: flex;
}
.menu li
{
    padding: 5px 14px;
}
li a img
{
    padding-right: 20px;
}

.banner
{
    padding: 0px;
      background-color: rgb(248, 236, 222);
     
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;

}
.banner .p1
{
    padding: 70px;
}
.banner .p1 img
{
    width: 600px;
    height: 700px;
}
.banner .p1 h3
{
    padding-top: 25px;
    font-size: 25px;
    padding-bottom: 50px;
}
.banner .p1 h1
{
    padding: 0;
    margin: 0;
    font-size: 37px;
    font-weight: normal;
    line-height: 45px;
}
.rec
{
    margin-top: 150px;
}
.rec .p1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.rec .p1 h1
{
    color: coral;
    
    font-family: Arial, Helvetica, sans-serif;
}
.rec .p1 h3
{
    font-weight: normal;
    padding: 0px 400px;
    padding-top: 40px;
    text-align: center;
    
}

.rec .p2
{   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.rec .p2 .line
{

    width: 420px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 30px;
    
}

.rec .p2 .line .part1 img
{
    width: 100%;
    height: 550px;
    cursor: pointer;
}

.rec .p2 .line .part1 h2
{padding: 15px 0px;
    font-size: 18px;
    font-weight: normal;
}
.rec .p2 .line .part1 h1 a
{
    font-size: 30px;
    text-decoration: none;
    color: coral;
    font-weight: bold;    
    font-weight: normal;
    cursor: pointer;
    padding: 15px 0px;
}
.rec .p2 .line .part1 h3
{
font-size: 18px;
font-weight: normal;
padding: 15px 0px;
}
.rec .p2 .line .part1 h3 a
{
    font-size: 17px;
    cursor: pointer;
    font-weight: normal;
    color: coral;
    padding: 15px 0px;
}
.rec .p2 .line .part1
{
    
    display: flex;
    flex-direction: column;
   
    width: 100%;
    height: auto;
    
}
.sec3
{   background-color: rgb(251, 242, 231);
    width: 100%;
    height: 900px;
}
.sec3 .container
{
    padding-left: 50px;
    padding-top: 30px;
    margin: 10px;
    width:100%;
    display: flex;
    height: 700px;
    
}
.sec3 .container .p1 img
{
    
    width: 700px;
    height:700px;
    margin-top: 100px;
}
.sec3 .container .p2 button
{   margin-top: 40px;
    padding: 20px 0px;
    margin-right: 65%;
    background-color: rgb(251, 132, 132);
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.sec3 .container .p2
{
    padding-left: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    width:80%;
    height: 700px;
    
    padding-right: 10%;
}
.sec3 .container .p2 h3
{
    padding-top: 25px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    padding-bottom: 50px;
}
.sec3 .container .p2 h1
{
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    
}
.sec4
{
    
    width: 100%;
    min-height: 300px;
   padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec4 .pic img
{
    width: 100%;
    height: 700px;
    
    padding-top: 80px;
}

.sec4 .icon
{
    margin-top: 100px;
}
.sec4 .last h3
{
    margin-top: 30px; 
    font-size: 15px;
    font-weight: normal;
    color: black;
    margin-bottom: 70px;
}
span
{
    color: peru;
}
.sec4 .last h3 a 
{
    color: peru;
    
}
.sec1 .heads
{
    display: flex;
    justify-content: center;
    font-size: 50px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 50px;
    padding-bottom: 60px;
}
.sec1 .shopp
{   margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: normal;
}
.sec1 .shopp img
{
    width: 700px;
    height: 700px;
}

/* contect */
.sec1 .p2-C
{
    display: flex;
    flex-direction: column;
    padding: 0px 400px;
    justify-content: left;
    text-align: left;
}
.sec1 .p2-C h3
{
font-size: 50px;
font-weight: normal;
font-family: Arial, Helvetica, sans-serif;
margin-bottom: 30px;
}
.sec1 .p2-C h1
{
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}
.sec1 .p2-C h2
{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-bottom: 30px;
}
.sec1 .con-1
{   margin-left: 400px;
    width: 700px;
    height: 70px;
    border: 1px solid red;
}

.sec1 .con-2
{   margin-top: 60PX;
    margin-left: 400px;
    width: 700px;
    display: flex;
    flex-direction: column;
    height: 670px;
    border: 1px solid red;
}
.sec1 .con-2 form
{
    display: flex;
    flex-direction: column;
}

.sec1 .con-2 label
{
    font-size: 20px;
    margin: 20px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.sec1 .con-2 form  .line1
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.sec1 .con-2 form .line1 .a1
{
    display: flex;
    flex-direction: column;
}
.sec1 .con-2 input
{
    background-color: white;
    width: 330px;
    height: 50px;
    border: 1px solid gray;
}
.sec1 .con-2 #email
{
    margin-left: 14px;
}
textarea
{
    margin-left: 20px;
    width: 660px;
    height: 120px;
    border: 1px solid gray;
    background-color: white;
}
.sec1 .con-2 button
{
    width: 80px;
    height: 50px;
    margin: 20px;
    color: white;
    border: none;
    background-color: rgb(211, 142, 116);
}
/* pages */
.container-i1-1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.container-i1-1 h3
{
    font-weight: normal;
    margin: 50px 0px;
}
.container-i1-1 h1
{
    font-size: 80px;
    text-align: center;
    padding: 0px 400px;
    line-height: 100px;
    font-weight: normal;
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(199, 109, 76);
}
.container-i1-1 .para
{
    padding: 100px 360px;
}
.container-i1-1 .para p
{
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
}
.next
{   display: flex;
    flex-direction: row;
    justify-content: right;    
}
.next h1
{
    text-align: right;
}
.next-1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* media */
@media screen and (max-width:720px) {
    .sec1 .shopp img
{
    width: 600px;
    height: 600px;
}
    .menu
    {
        display: flex;
        flex-direction: column;
    }
    .menu ul
    {
        display: flex;
        flex-direction: column;
    }
    
    .rec
    {   margin-top: 50%;
        display: flex;
        flex-direction: column;
    }
    .rec .p1 h1
{
    color: coral;
    
    font-family: Arial, Helvetica, sans-serif;
}
.rec .p1
{
    width: 400px;
    text-align: justify;
}
.rec .p1 h3
{
    font-weight: normal;
    padding-top: 40px;
    
}

.rec .p2
{
    display: flex;
    flex-direction: column;
}
.rec .p2 .line
{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
}
.rec .p2 .line .part1
{
    margin-left: 20%;
}
.sec3 .container 
{
    display: flex;
    flex-direction: column;
}
.sec3 .container .p1 img
{
    margin-left: 17%;
    width: 500px;
    height:500px;
    margin-top: 100px;
}
.sec4
{
    margin-top: 50px;
}
.container-i1-1
{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 200px;
    align-items: center;
    
}
}
@media screen and (max-width:960px) 
{
  
  .banner
  {
    background-color: white;
     margin-top: 40%;
    display: flex;
    flex-direction:column ;
  }
  
  .rec .p1
  { 
    margin-top: 20%;
    margin-left: 60px;
    justify-content: center;
    text-align: justify;
    display: flex;
    flex-direction:column ; 
  }  
  .rec .p1 h3
{
    font-weight: normal;
    padding-top: 40px;
    text-align: justify;
    
}  
.rec .p2 .line 
{
    margin-left: 10px;
}
.rec .p2 .line .part1
{
    padding: 10px;
}
.sec3 .container 
{
    display: flex;
    flex-direction: column;
    
}
.sec3
{
    background-color: white;
    margin-bottom: 20%;
}
.sec4
{
    margin-top: 80%;
    margin-left: 14%;
}

}
@media screen and (max-width:620px) 
{
    .sec1 .shopp img
    {
        width: 500px;
        height: 500px;
    }
  .banner
  { margin-top: 80%;
    margin-left: 60px;
    justify-content: center;
    display: flex;
    flex-direction:column ;
    margin-bottom: 80%;
  }
  .rec .p1
  {
    margin-top: 60%;
    margin-left: 60px;
    justify-content: center;
    display: flex;
    flex-direction:column ; 
  }  
  .rec .p1 h3
{
    font-weight: normal;
    padding-top: 40px;
    text-align: justify;
    
}
.sec3
{
    margin-bottom: 80%;
}
.sec3 .container .p2
{
    width: 400px;
   display: flex;
   flex-direction: column;
   text-align: justify;
   margin-top: 25%;
} 
.sec4 .pic 
{
    width: 700px;
    margin-left:45%;
}
}
@media screen and (max-width:480px) 
{
    .sec1 .shopp img
    {
        width: 350px;
        height: 350px;
    }
    .nav
    {
        display: flex;
        justify-content: space-around;
    }
    .banner
    {
        width: 400px;
    }
  .banner

  { margin-top: 120%;
    margin-left: 100px;
    justify-content: center;
    display: flex;
    flex-direction:column ;
  }
  .banner .p1 img
  {
    display: flex;
    text-align: justify;
    margin-left: 80px;
  }
  
  .rec .p1
  {
    width: 400px;
    margin-top: 70%;
    margin-left: 60px;
    
    display: flex;
    flex-direction:column ; 
  }  
  .rec .p1 h3
{
    font-weight: normal;
    padding-top: 40px;
    text-align: justify;
    
}

.sec3 .container .p2

{   width:400px;
    
   display: flex;
   flex-direction: column;
   text-align: justify;
  
}  
.sec4 .pic
{
width: 700px;
margin-left: 80%;
}
.container-i1-1
{   
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: center;
    padding-left: 400px;
    align-items: center;
    
}
}

@media screen and (max-width:1320px) 
{
  
    .rec .p2
    {
        margin-left: 10%;
    }
    .rec .p2 .line 
    {
        margin-left: 10px;
    }
    .sec3 .container 
{
    display: flex;
    flex-direction: column;
}   
.sec4
{
    margin-top: 30%;
    margin-left: 14%;
}
.sec4 .pic img
{
    width: 80%;
}
.sec1 .p2-C
{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec1 .con-1
{
    margin-left: 0px;
    margin-top: 60px;
    width: 700px;
}
.sec1 .con-2
{   margin-left: 0px;
    margin-top: 60px;
    width: 700px;
    display: flex;
    flex-direction: column;
    height: 670px;
    border: 1px solid red;
}
.container-i1-1 .para
{
    width: 800px;
    padding: 0px;
    margin: 0px;
    margin-left: 50px;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}
.container-i1-1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 90px;
}
}