*
{
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  ;
    margin: 0;
}
.sec1
{
    width: 100%;
    height: 900px;
    background-color: rgb(255, 231, 213);
}

.sec1 .nav-bar
{
    margin-right: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.sec1 .nav-bar img
{
    width: 100px;
    height: 70px;
    margin: 10px 40px;
    cursor: pointer;
}
nav ul
{
    display: flex;
    flex-direction: row;
    
}
nav ul li
{
    list-style: none;
    margin-top: 42px;
}
nav ul li a 
{
   font-size: 18px;
   text-decoration: none;
   color: black;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  ;
   font-weight: normal;
   margin-right:15px ;
   cursor: pointer;
   
}

.sec1 .nav-bar nav ul li a img
{
    width: 25px;
    height: 25px;
    margin: 5px;
    margin-top: 0;
    cursor: pointer;
}

.sec1 .container
{
    padding-left: 50px;
    padding-top: 30px;
    margin: 10px;
    width:100%;
    display: flex;
    height: 700px;
    
}
.sec1 .container .p1
{
    background-image: url(../img/food1.jpg);
    background-size: cover;
    width:80%;
    height: 700px;
   
}
.sec1 .container .p2
{
    padding-left: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    width:80%;
    height: 700px;
    
    padding-right: 10%;
}
.sec1 .container .p2 h3
{
    padding-top: 25px;
    font-size: 25px;
    padding-bottom: 50px;
}
.sec1 .container .p2 h1
{
    padding: 0;
    margin: 0;
    font-size: 37px;
    font-weight: normal;
    line-height: 45px;
}

.sec2 .p1
{
    width: 100%;
    height: 400px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.sec2 .p1 h1
{
    color: coral;
    
    font-family: Arial, Helvetica, sans-serif;
}
.sec2 .p1 h3
{
    font-weight: normal;
    padding: 0px 400px;
    padding-top: 40px;
    text-align: center;
    
}
.sec2 .p2
{   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.sec2 .p2 .line
{

    width: 420px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 30px;
    
}

.sec2 .p2 .line .part1 img
{
    width: 100%;
    height: 550px;
    cursor: pointer;
}

.sec2 .p2 .line .part1 h2
{padding: 15px 0px;
    font-size: 18px;
    font-weight: normal;
}
.sec2 .p2 .line .part1 h1 a
{
    font-size: 30px;
    text-decoration: none;
    color: coral;
    font-weight: bold;    
    font-weight: normal;
    cursor: pointer;
    padding: 15px 0px;
}
.sec2 .p2 .line .part1 h3
{
font-size: 18px;
font-weight: normal;
padding: 15px 0px;
}
.sec2 .p2 .line .part1 h3 a
{
    font-size: 17px;
    cursor: pointer;
    font-weight: normal;
    color: coral;
    padding: 15px 0px;
}
.sec2 .p2 .line .part1
{
    
    display: flex;
    flex-direction: column;
   
    width: 100%;
    height: auto;
    
}
.sec3
{
    width: 100%;
    height: 900px;
    background-color: rgb(255, 229, 210);
}
.sec3 .container
{
    padding-left: 50px;
    padding-top: 30px;
    margin: 10px;
    width:100%;
    display: flex;
    height: 700px;
    
}
.sec3 .container .p1
{
    margin-top: 70px;
    background-image: url(../img/stanton-book.jpg);
    background-size: cover;
    width:80%;
    height: 700px;
    
   
}
.sec3 .container .p2 button
{   margin-top: 40px;
    padding: 20px 0px;
    margin-right: 65%;
    background-color: rgb(251, 132, 132);
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.sec3 .container .p2
{
    padding-left: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    width:80%;
    height: 700px;
    
    padding-right: 10%;
}
.sec3 .container .p2 h3
{
    padding-top: 25px;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    padding-bottom: 50px;
}
.sec3 .container .p2 h1
{
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    
}
.sec4
{
    background-color: rgb(255, 229, 210);
    width: 100%;
    min-height: 300px;
   padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec4 .pic
{
    width: 90%;
    height: 600px;
    
    padding-top: 80px;
    background-image: url(../img/charred-corn-salad-with-creamy-lime-dressing12.jpg);
}

.sec4 .icon
{
    margin-top: 100px;
}
.sec4 .last h3
{
    margin-top: 30px; 
    font-size: 15px;
    font-weight: normal;
    color: black;
    margin-bottom: 70px;
}
span
{
    color: peru;
}
.sec4 .last h3 a 
{
    color: peru;
    
}


/* About */
.sec1 .container-A
{
    padding-left: 50px;
    padding-top: 30px;
    margin: 10px;
    width:100%;
    display: flex;
    height: 700px;
    margin-top: 80px;
    
}
.sec1 .container-A .p1-A
{
    background-image: url(../img/About.jpg);
    background-size: cover;
    width:70%;
    margin-right: 80px;
    height: 700px;
   
}
.sec1 .container-A .p2-A
{
    
    display: flex;
    flex-direction: column;
    justify-content: center;   
    width:80%;
    height: 700px;
    
    padding-right: 10%;
}
.sec1 .container-A .p2-A h3
{
    
    font-size: 37px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  ;
    padding-bottom: 30px;
}
.sec1 .container-A .p2-A h1
{
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-family: poppins;
    font-weight: normal;
    line-height: 33px;
    
}


/* Contect */
.sec1 .container-C
{
    padding-left: 50px;
   flex-direction: column;
    margin:0px 10px;
    width:50%;
    margin: 0px 25%;
    display: flex;
    height: 1100px;
    
    
}
.sec1 .container-C .p2-C
{
    
    display: flex;
    flex-direction: column;
    /* justify-content: center;    */
    width: 100%;
    margin-top: 9%;
    height: 700px;
    padding-right: 15%;
}
.sec1 .container-C .p2-C h3
{
    margin-left: 15px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.sec1 .container-C .p2-C h1
{
    padding: 0;
    margin-left: 15px;
    font-size: 17px;
    font-family: poppins;
    font-weight: normal;
    line-height: 30px;
    
}
.sec1 .container-C .p2-C h2
{
    padding: 0;
    margin-top:20px;
    font-size: 25px;
    font-family: poppins;
    font-weight: normal;
    line-height: 30px;
    margin-left: 15px;
    
}

.sec1 .container-C .con-1
{
    
    width: 80%;
    height:100px;
    margin-bottom: 40px;
    border: 1px solid red;
}
.sec1 .container-C .con-2
{
    
    margin-top: 20px;
    width: 80%;
    height: 800px;
    border: 1px solid red;
}

.sec1 .container-C  .con-2 
{
    display: flex;
    flex-direction: column;
    
}

.sec1 .container-C  .con-2 form
{
    display: flex;
    flex-direction: column;
}

.sec1 .container-C  .con-2 form .line1 
{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-evenly;
    align-items: center;
    
}
.sec1 .container-C  .con-2 form .line1 .a1
{
    display: flex;
    flex-direction: column;
    
}
.sec1 .container-C  .con-2 form .line1 .a1 input
{
    width: 270px;
    height: 50px;
    border: 0.5px solid gray ;
    background-color: white;
    border-radius: 2px;
    background-color: white;
    

}
.sec1 .container-C  .con-2 form .line1 .a1 label
{
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 10px;
}
.sec1 .container-C  .con-2 form #email
{
    width: 97%;
    display: flex;
    margin-top:5px;
    margin-left: 8px;
    height: 50px;
    background-color: white;
    border: 0.5px solid gray ;
    background-color: white;
    border-radius: 2px;
}
.sec1 .container-C  .con-2 form #message
{
    width: 97%;
    display: flex;
    margin-left: 8px;
    height: 100px;
    border: 0.5px solid gray ;
    background-color: white;
    border-radius: 2px;
}
.sec1 .container-C  .con-2 form label
{
    font-size: 20px;
    padding-left: 15px;
}
.sec1 .container-C  .con-2 form button
{
    margin: 10px;
    width: 110px;
    margin-top: 20px;
    height: 70px;
    background-color: rgb(250, 142, 103);
    color: white;
    border: none;
}

.sec1 .heads
{   padding-top: 100px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-items: center;text-align: center;
    margin-top: 70px;
    margin: 0px 5%;
    border-bottom: 1px solid gray;
    padding-bottom: 60px;
    
}
.sec1 .shopp
{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    height: 550px ;
}
.sec1 .shopp img
{   margin-top: 40px;
    
    width: 50%;
    height: 100vh;
}
.sec1 .shopp a
{
    text-decoration: none;
    color: black;
    
}
.sec1 .shopp a h2,h3
{
    padding-top: 10px;
    font-weight: normal;
}

/*
food item 1
*/
.container-i1-1
{
    display: flex;
    margin-top:70px ;
    flex-direction: column;
    width: 700px;
   align-items: center;
   margin-left: 27%;
}

.container-i1-1 h3
{
    font-size: 17px;
    margin-bottom: 30px;
}
.container-i1-1 h3 span a
{

    text-decoration: none;
    color: black;
}
.container-i1-1 h1
{
    font-size: 72px;
    line-height: 100px;
    color: rgb(245, 138, 100);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: normal;
}
.container-i1-1 img
{
    width: 700px;
}
.container-i1-1 .para  
{
    margin-top: 100px;
    
   
}
.container-i1-1 .para p
{
    font-size: 17px;
    font-weight: normal;
    
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 12px;
}
.container-i1-1 a 
{
    margin-top: 60px;
    text-decoration: none;
    color:black;
}
 .next a
{
   margin-left: 50%;
   text-align: right;
   justify-content: right;
   align-content: flex-end;
   display: flex;
   flex-direction: row;
   margin: 60px 40px;
}
.next a
{
    text-decoration: none;
    color: black;
}
 .next a h1
 
{
    text-align: right;
    font-size: 45px;
    
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
    display: flex;
    
    justify-content: space-around;
    text-align: center;
    font-weight: normal;
}